//- HTTP error 404: page not found

extends /_private/layouts/default.jade

block head
    +import_stylesheet("/styles/404.css")
    title 404 Not found

block body
    +container
        .error-template
            h1 Oops!
            h3 404 Not found
            .error-details
                | Sorry, an error has occured, requested page not found!
            .error-actions
                a.btn.btn-primary(href="/")
                    +glyphicon("home")
                    | Take Me Home

